<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>404 - الصفحة غير موجودة</title>
  <link rel="stylesheet" href="/public/css/style.css" />
  <style>

  </style>
</head>
<body>
  <header>{{> header}}</header>
  <div class="content">
    <h2>{{logo}}</h2>
    <p>{{title}}</p>
    <a href="/" class="button-link">
      <i class="fa-solid fa-house"></i> الرجوع للرئيسية
    </a>
    <h6>.إن كنت تعتقد أن هذا خطأ، يرجى التواصل مع الدعم الفني</h6>
  </div>
</body>
</html>